# Python
__pycache__/
*.py[cod]
.venv/
*.egg-info/

# Project Specific
data/                 # PDFs (local only - too large for git)
*.log
app.log

# IDEs
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db
Desktop.ini
.env

api-test.py
.streamlit/secrets.toml
nul
